!!!!!!!!!!!!!
!! Defines !!
!!!!!!!!!!!!!

! #2e3440 #3b4252 #434c5e #4c566a
! #d8dee9 #e5e9f0 #eceff4
! #8fbcbb #88c0d0 #81a1c1 #5e81ac 

#define FOREGROUND #3b4252
#define COLOR1 #4c566a
#define COLOR2 #ffffff
#define COLOR3 #4c566a
#define COLOR4 #ffffff

#define SHADE1 #5e81ac
#define SHADE2 #81a1c1
#define SHADE3 #88c0d0
#define SHADE4 #8fbcbb

#define ALPHA #00000000

#define CURSOR 16

#define URXVT_SCROLLBAR false
#define URXVT_FOREGROUND COLOR4
#define URXVT_BORDER 15

#define BSPWM_BORDER_WIDTH 2
#define WINDOW_GAP 15

!!!!!!!
!! X !!
!!!!!!!

Xcursor.size: CURSOR

!!!!!!!!!!
!! Rofi !!
!!!!!!!!!!

rofi.color-window: COLOR3,ALPHA,ALPHA
rofi.color-normal: ALPHA,COLOR2,ALPHA,ALPHA,SHADE2
rofi.color-active: ALPHA,ALPHA,ALPHA,ALPHA,COLOR1
rofi.color-urgent: ALPHA,ALPHA,ALPHA,ALPHA,COLOR1

!!!!!!!!!!!
!! URxvt !!
!!!!!!!!!!!

*.foreground:   #D8DEE9
*.background:   #2E3440
*.cursorColor:  #D8DEE9
*fading: 0
*fadeColor: #4C566A
! black
*.color0: #3B4252
*.color8: #4C566A
! red
*.color1: #BF616A
*.color9: #BF616A
! green
*.color2: #A3BE8C
*.color10: #A3BE8C
! yellow
*.color3: #EBCB8B
*.color11: #EBCB8B
! blue
*.color4: #81A1C1
*.color12: #81A1C1
! magenta
*.color5: #B48EAD
*.color13: #B48EAD
! cyan
*.color6: #88C0D0
*.color14: #8FBCBB
! white
*.color7: #E5E9F0
*.color15: #ECEFF4
! others
URxvt.colorIT: #A3BE8C
URxvt.colorBD:  #ECEFF4
URxvt.colorUL: #81A1C1

URxvt*scrollBar: URXVT_SCROLLBAR
URxvt*foreground: URXVT_FOREGROUND
URxvt.internalBorder: URXVT_BORDER
URxvt.font: xft:monospace:size=11

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

urxvt*depth: 32

!!!!!!!!!!!
!! bspwm !!
!!!!!!!!!!!

bspwm.border: COLOR3
bspwm.border_width: BSPWM_BORDER_WIDTH
bspwm.window_gap: WINDOW_GAP

!!!!!!!!!
!! Bar !!
!!!!!!!!!
bar.foreground: FOREGROUND
bar.active: COLOR1
bar.primary: COLOR2
bar.secondary: COLOR4
bar.alpha: ALPHA

bar.shade1: SHADE1
bar.shade2: SHADE2
bar.shade3: SHADE3
bar.shade4: SHADE4
